* {
  font-family: "Nanum Pen Script", cursive;
}

body {
  padding: 6rem 0;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.navbar {
  background-color: #6ca4d0;
}

.navbar .navbar-brand {
  color: white;
  font-size: 3.5rem;
  pointer-events: none;
}

.fa-stroopwafel {
  color: white;
  font-size: 1.5rem;
}

.anchor {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-right: 2.5rem;
}

.fa-paw,
.fa-heart,
.fa-user {
  color: white;
  font-size: 2.5rem;
}

.page-title {
  font-size: 3rem;
}

.card {
  box-shadow: 0 5px 5px rgba(48, 39, 39, 0.25);
  transform-origin: center bottom;
}

@keyframes love {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

.card.love {
  animation: love 0.7s ease-out;
}

.card-img-container {
  position: relative;
}

.card-img-container img {
  display: block;
}

.fa-face-grin-hearts {
  color: #46d646;
  font-size: 7rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.card-img-top {
  height: 55vh;
  object-fit: cover;
}

.card-title {
  color: black;
  font-size: 3rem;
}

.fa-bone {
  color: #6ca4d0;
  font-size: 1rem;
}

.card-subtitle {
  color: #68717a;
}

.card-text {
  color: #abb5be;
}

.btn {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

#card-buttons > button {
  font-size: 2.5rem;
}

.carousel-radius {
  border-radius: 5px;
}

.detail-h1 {
  font-size: 3rem;
}

.detail-h2 {
  font-size: 2.2rem;
}

.detail-p {
  font-size: 1.5rem;
}

.description-border {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.about-border {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.fa-location-dot,
.fa-envelope,
.fa-phone {
  color: #6ca4d0;
}
