* {
  font-family: "Nanum Pen Script", cursive;
}

body {
  padding: 6rem 0;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.navbar {
  background-color: #6ca4d0;
}

.navbar .navbar-brand {
  color: white;
  font-size: 3.5rem;
  pointer-events: none;
}

.fa-stroopwafel {
  color: white;
  font-size: 1.5rem;
}

.anchor {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-right: 2.5rem;
}

.fa-paw,
.fa-heart,
.fa-user {
  color: white;
  font-size: 2.5rem;
}

.form-bg-img {
  background-image: url("./images/doggo-background.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 80vh;
  bottom: 72px;
}

.form-background {
  background-color: #6ca4d0;
  border-radius: 10px;
}

.form-title {
  color: white;
  font-size: 2.5rem;
}

.form-subtitle {
  color: white;
  font-size: 1.5rem;
}

.form-button {
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: #6ca4d0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-button-text {
  color: #6ca4d0;
}

.page-title {
  font-size: 3rem;
}

#card-container {
  overflow: hidden;
}

.card {
  box-shadow: 0 5px 5px rgba(48, 39, 39, 0.25);
  transform-origin: center bottom;
}

@keyframes love {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@keyframes nope {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }

  to {
    transform: rotate(-40deg) translateY(-80px);
    opacity: 0;
  }
}

.card.love {
  animation: love 0.7s ease-out;
  animation-fill-mode: forwards;
}

.card.nope {
  animation: nope 0.7s ease-out;
  animation-fill-mode: forwards;
}

.card-img-container {
  position: relative;
}

.card-img-container img {
  display: block;
}

.fa-face-grin-hearts {
  color: #46d646;
  font-size: 7rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

.fa-face-meh {
  color: #f00;
  font-size: 7rem;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}

.card-img-top {
  height: 55vh;
  object-fit: cover;
}

.card-title {
  color: black;
  font-size: 3rem;
}

.fa-bone {
  color: #6ca4d0;
  font-size: 1rem;
}

.card-subtitle {
  color: #68717a;
}

.card-text {
  color: #abb5be;
}

.btn {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

#card-buttons > button {
  font-size: 2.5rem;
}

.carousel-radius {
  border-radius: 5px;
}

.detail-h1 {
  font-size: 3rem;
}

.detail-h2 {
  font-size: 2.2rem;
}

.detail-p {
  font-size: 1.5rem;
}

.description-border {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.about-border {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.fa-location-dot,
.fa-envelope,
.fa-phone {
  color: #6ca4d0;
}

@media only screen and (min-width: 768px) {
  .form-bg-img {
    padding-top: 1.5rem;
    height: 92vh;
    bottom: 0;
  }
}
